.card {
    width: 380px;
    height: 600px;
    border-radius: 16px;
    overflow: hidden;
    background-color: rgb(209, 209, 209);
    font-family: "Karla", sans-serif;
    margin: 20px 5px;
}

.card-image-div {
    height: 380px;
    width: 380px;
    min-width: 380px;
}

.card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.title-price {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.title-price p {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
}

.price {
    font-weight: 700;
    color: orange;
}

.card-desc{
    padding: 10px 20px;
    font-size: 1.1rem;
}

.card-desc p {
    text-align: justify;
    margin: 0;
}

.order-bascet-icon {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.order-bascet-icon p {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
}


@media all and (max-width: 1440px) {
    .card {
        width: 300px;
        height: 520px;
    }
    
    .card-image-div {
        height: 300px;
        width: 300px;
    }
}

@media all and (max-width: 768px) {
    .card {
        width: 220px;
        height: 400px;
    }
    
    .card-image-div {
        height: 220px;
        width: 220px;
    }

    .title-price p {
        font-size: 1.1rem;
    }

    .card-desc p {
        font-size: 0.7rem;
    }

    .order-bascet-icon p {
        font-size: 1rem;
    }
}