.navbar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 50px;
    align-items: center;
    height: 7.5vh;
    position: sticky;
    top: 0;
    background-color: #edefee;
    transition: transform 0.3s ease-in-out;
}

.navbar.hidden {
    transform: translateY(-100%);
}

.navbar.visible {
    transform: translateY(0);
}

.nav-menu {
    grid-column: 5 / 11;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}

.nav-menu li {
    margin: 0 20px;
    font-size: 1.4rem;
    cursor: pointer;
}

.logo-image {
    grid-column: 3 / 4;
}

/* Burger menu styles */
.burger {
    display: none; /* Hide by default */
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.nav-menu.open {
    display: flex; /* Show menu items */
    flex-direction: column; /* Stack vertically */
    position: absolute;
    top: 100%; /* Position below the navbar */
    right: 0;
    background-color: #edefee;
    width: 100%; /* Full width */
    padding: 10px 0;
}

@media all and (max-width: 1440px) {
    .nav-menu li {
        font-size: 1.2rem;
        margin: 0 10px;
    }
}


@media all and (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-evenly;
    }

    .burger {
        display: flex;
        /* grid-column: 11 / 13; */
    }

    .nav-menu {
        display: none; /* Hide menu by default */
        flex-direction: column;
        align-items: center; /* Center items */
    }

    .nav-menu.open {
        display: flex; /* Show menu when open */
    }

    .nav-menu li {
        margin: 10px 0; /* Vertical spacing */
    }
}
