.testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #495e57;
    height: 100vh;
}

.testimonials p {
    width: fit-content;
}

.text1 {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    font-family: "Karla", sans-serif;
    font-weight: 500;
    margin: 50px;
}

.text2 {
    color: white;
    font-size: 4.3rem;
    font-weight: 600;
    margin: 0;
    width: 400px;
    line-height: 48px;
}

.testimonial-holder{
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    width: 80vw;
    background-color:bisque;
    border-radius: 20px;
    margin: 30px;
    padding: 20px;
    align-items: center;
}


@media all and (max-width: 1440px) {
    .testimonials {
        height: fit-content;
    }
    .testimonial-holder {
        flex-wrap: wrap;
    }
}

@media all and (max-width: 768px) {
    .text1 {
        font-size: 1.5rem;
    }
    
    .text2 {
        font-size: 3rem;
    }
}